body
{
    padding-right: 100px;
    padding-left: 100px;
    overflow-y: scroll;
}

#main-logo
{
    float: left;
}

#main-logo img
{
    height: 100px;
    margin: 10px;
}

#main-buttons
{
    float: right;
    height: 120px;
    display: flex;
    align-items: center;
}

#main-buttons button
{
    margin-left: 10px;
}

.clearfix
{
    clear: both;
}

section
{
    margin: 10px 50px;
}

.search-adv
{
    float: right;
}

.genre-display
{
    padding-top: 20px;
}

.genre-display-title
{
    float: left;
}

.genre-display-extra
{
    float: right;
    padding-top: 1em;
}

.book-cover-img
{
    height: 400px !important;
}

.ui.link.cards.clearfix
{
    flex-wrap: nowrap;
}

th
{
    text-align: center !important;
}

.schedule-month-name
{
    font-size: 36px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    font-variant-caps: small-caps;
}

.schedule-header
{
    margin-top: 25px;
}

.schedule-month-display
{
    float: left;
}

.schedule-new-button
{
    float: right;
}

.schedule-calendar
{
    margin-top: 15px;
}

.schedule-calendar td
{
    height: 150px;
    vertical-align: top;
}

.calendar-date-number.other-month
{
    color: lightgrey;
}

.meeting-info-box
{
    margin-top: 10px !important;
}

.header
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.vertical.pointing.menu
{
    width: 100%;
}

.reading-page-viewer
{
    background-color: lightgrey;
    padding: 25px;
}

.reading-page-paper
{
    background-color: white;
    padding: 300px 50px 50px;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

#reading-page .timestamp {
    height: 275px;
    max-height: 2750px;
    overflow: scroll;
}

.people-list-info
{
    color: grey;
}

.home-page p {
    margin: 0 0 0.1rem;
}

.home-page {
    margin: 2rem !important;
}

.home-page .image.avatar.ui {
    border-radius: 0 !important;
}

.clickable {
    cursor: pointer
}

header {
    margin-bottom: 30px;
}

.auth {
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px rgba(0,0,0,.1) solid;
  padding-bottom: 30px !important;
  background: rgba(0,0,0,.03);
  border-radius: .28571429rem .28571429rem 0 0
}

.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

.right-align {
    display: flex; justify-content: flex-end"
}

.profile-reading-height {
    height: 250px !important;
}
